<div class="flex justify-center my-10 md:my-32 mx-auto">
    <div class="text-gray-700 mx-auto max-w-2xl md:flex md:justify-between">
        <div class="max-w-md my-6 md:my-auto">
            <img class="rounded-full h-48 my-6 md:hidden" src="/img/luigi.jpg">
            <h1 class="font-serif text-gray-900 text-4xl">Hi, I'm Luigi.</h1>
            <p class="font-mono my-2 text-lg">I don’t have a brother named Mario, so there’s really no need to ask.</p>
            <p class="font-mono my-2 text-lg">Oh, and while you're here:</p>
            <a href="/periodicals" class="font-serif mt-2 inline-block hover:bg-blue-700 bg-blue-500 rounded-sm px-8 py-3 shadow text-white text-xl">Go read my words</a>
        </div>
        <div class="h-48 w-48 hidden md:block md:my-auto">
            <img class="rounded-full" src="/images/luigi.jpg" alt="This is me!">
        </div>
    </div>
</div>

<div class="mx-auto">

    <h2 class="font-serif text-center text-gray-900 text-4xl md:text-5xl my-16">What do I do, you ask?</h2>

    <div class="flex justify-center mx-auto">
        <div class="max-w-xl">

            <div class="md:flex md:justify-between">
                <span class="text-10xl my-auto">👨🏻‍💻</span>
                <p class="font-mono md:ml-10 md:my-auto my-2 text-lg">I’ve been a big fan of programming computers ever since I was a lil' booger. The process of creating something out of nothing has always been what I loved most about it.</p>
            </div>

            <div class="mt-10 md:flex md:justify-between">
                <span class="text-10xl my-auto">✍🏻</span>
                <p class="font-mono md:ml-10 md:my-auto my-2 text-lg">I love to write. I don’t really write about anything in particular, just whatever’s bouncing around in my head. You can check out mah blog if you're interested, and I'd love it if you did. Feedback is welcomed, as I'm certain there are dozens of typos and grammatical errors!</p>
            </div>

            <div class="mt-10 md:flex md:justify-between">
                <span class="text-10xl my-auto">👨🏻‍🍳</span>
                <p class="font-mono md:ml-10 md:my-auto my-2 text-lg">Having grown up in a big Italian family, and worked in a handful of restaurants only to make minimum wage, I’ve grown to love food and I've grown to enjoy cooking it even more. I hope to share my experiences with you through interesting recipes, techniques, and the like!</p>
            </div>

            <div class="mt-10 md:flex md:justify-between">
                <span class="text-10xl my-auto">👨🏻‍🎓</span>
                <p class="font-mono md:ml-10 md:my-auto my-2 text-lg">Currently, I am a full time student. I attend a lovely little academic institution called Hudson Valley Community College where I'm studying computer science. It's very prestigious.</p>
            </div>

            <div class="mt-10 md:flex md:justify-between">
                <span class="text-10xl my-auto">📈</span>
                <p class="font-mono md:ml-10 md:my-auto my-2 text-lg">Lately, I've been enthralled with stocks, investing, and economics. It's all super interesting to me and I could talk about it for hours. Hell, I'm actually thinking of starting a podcast about it!</p>
            </div>

        </div>
    </div>

    <h2 class="font-serif text-center text-gray-900 text-4xl md:text-5xl my-24">And that's me, in a nutshell.</h2>
</div>