<div class="flex justify-center">
    <div class="text-center p-8 mt-4">
        <h1 class="font-serif text-gray-900 text-4xl">The Periodicals</h1>
        <p class="font-mono text-gray-700 max-w-md">Periodically, I’ll write a periodical for the periodicals. Hehe, check em all out.</p>
    </div>
</div>

<div class="mt-4 px-4 flex flex-col justify-center">

    {{ if {collection:count from="periodicals"} > 0 }}

        {{ collection from="periodicals" sort="date:desc" }}
            <div class="mx-auto">
                <a href="/periodicals/{{ slug }}">
                    <div class="hover:shadow-lg rounded my-6 bg-white max-w-xl rounded-sm shadow">

                        <div class="w-full">

                            {{ glide:article_photo }}
                                <img class="h-64 object-center object-cover rounded-t w-full" src="{{ url }}" alt="">
                            {{ /glide:article_photo }}

                            <div class="p-4 mt-4">
                                <h2 class="font-serif text-2xl">{{ title }}</h2>
                                <p class="text-sm text-gray-500 uppercase font-mono">{{ author.name }} &middot; {{ publish_date format="m/d/Y" }}</p>
                                <p class="font-mono text-gray-700 mt-4">{{ summary }}</p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        {{ /collection }}

    {{ else }}
        <div class="bg-red-100 max-w-md rounded text-red-500 border-red-500 border-2 p-4">

            <h1 class="text-3xl font-serif">Look, I'm sorry.</h1>
            <p class="font-mono">I just haven't had time to write anything. I promise, some goodies are coming your way.</p>

        </div>
    {{ /if }}
</div>
