<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.typekit.net/byv7nlp.css">

    <link rel="stylesheet" href="/css/app.css">

    <title>{{ title }}</title>
</head>

<body class="bg-tan">

<div id="app" class="flex flex-col min-h-screen">

    <header class="flex justify-center mt-10">
        <div>
            <h1 class="text-gray-900 fancy-font text-4xl md:text-5xl lg:text-6xl tilty">Luigi Battaglioli</h1>

            <div class="mx-auto tilty mt-6 flex justify-center">
                <a href="/" class="text-gray-700 hover:underline mx-4 font-serif text-lg md:text-xl lg:text-4xl">Home</a>
                <a href="/periodicals" class="text-gray-700 hover:underline mx-4 font-serif text-lg md:text-xl lg:text-4xl">Blog</a>
                <a href="/contact" class="text-gray-700 hover:underline mx-4 font-serif text-lg md:text-xl lg:text-4xl">Contact</a>
            </div>
        </div>
    </header>

    <main class="flex-grow px-4">
        {{ template_content }}
    </main>

    <footer class="w-full bg-gray-800 font-serif text-white flex justify-center mt-4">
        <div class="text-white my-auto p-8">
            <h1 class="text-center">proudly powered by</h1>
            <img class="h-20" src="/images/statamic.svg">
        </div>
    </footer>

</div>

</body>

</html>